In [12]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from  sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [8]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
########preprocessing the data
#1.removing the irrelevant columns 
data = data.drop(columns = ["RowNumber","CustomerId","Surname"],axis = 1)

In [10]:
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [11]:
#2.encoding the categorical data  into numerical data
level_encoder_gender = LabelEncoder()

data["Gender"] = level_encoder_gender.fit_transform(data["Gender"])

data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [14]:
#3.one hot encoding for the categorical data with more than 2 categories
one_hot_encoder_geography = OneHotEncoder()
geoEncoder = one_hot_encoder_geography.fit_transform(data[["Geography"]])
geoEncoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [16]:
one_hot_encoder_geography.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [22]:
geoEncoder = geoEncoder.toarray()

In [23]:

geoEncoder_df  = pd.DataFrame(geoEncoder,columns = one_hot_encoder_geography.get_feature_names_out())

In [24]:
geoEncoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [25]:
#4. combining the one hot encoded data with the orioginal data and dropping the original categorical column
data = pd.concat([data,geoEncoder_df],axis = 1)
data = data.drop("Geography",axis = 1)
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [26]:
####saving the encoders 
with open("level_encoder_gender.pkl","wb") as f:
    pickle.dump(level_encoder_gender,f)
    
with open("one_hot_encoder_geography.pkl","wb") as f:
    pickle.dump(one_hot_encoder_geography,f)

In [ ]:
########dividing the data into features and target variables 
y = data["Exited"]
X = data.drop("Exited",axis = 1)


X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [28]:
X

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 12 columns]

In [29]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [30]:
#5. transforming the data using standard scaler 
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [32]:
X_train_scaled.shape

(8000, 12)

In [31]:
#save the scaler 
with open("scaler.pkl","wb") as f:
    pickle.dump(scaler,f)

ANN Implementation

In [34]:
from tensorflow import keras 
from keras.layers import Dense
from keras.models import Sequential
from keras.callbacks import EarlyStopping, TensorBoard
from keras.utils import plot_model
from keras.activations import relu, sigmoid
import datetime

In [ ]:
model = Sequential(
    [
        Dense(32 , activation=relu, input_shape=(X_train_scaled.shape[1],), name = "input"),
        Dense(64 , activation=relu, name = "h1"),
        Dense(128 , activation=relu, name = "h2"),
        Dense(64 , activation=relu, name = "h3"),
        Dense(1, activation = sigmoid, name = "output_layer")
    ]
)

/Users/abhijeetmalik/Desktop/projects/ANN Classifier/venv/lib/python3.11/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

ValueError: All layers added to a Sequential model should have unique names. Name 'input_layer' is already the name of a layer in this model. Update the `name` argument to pass a unique name.